.sun-weather {
    background: linear-gradient(
        to bottom,
        hsl(199.07, 92.64%, 68.04%) 0%,
        hsl(199.09, 92.65%, 68.41%) 8.1%,
        hsl(199.14, 92.69%, 69.41%) 15.5%,
        hsl(199.16, 92.77%, 70.89%) 22.5%,
        hsl(199.12, 92.92%, 72.66%) 29%,
        hsl(198.98, 93.16%, 74.6%) 35.3%,
        hsl(198.72, 93.51%, 76.6%) 41.2%,
        hsl(198.31, 93.99%, 78.58%) 47.1%,
        hsl(197.74, 94.61%, 80.49%) 52.9%,
        hsl(197.04, 95.37%, 82.26%) 58.8%,
        hsl(196.21, 96.25%, 83.87%) 64.7%,
        hsl(195.3, 97.23%, 85.26%) 71%,
        hsl(194.39, 98.22%, 86.42%) 77.5%,
        hsl(193.58, 99.11%, 87.29%) 84.5%,
        hsl(193, 99.76%, 87.84%) 91.9%,
        hsl(192.79, 100%, 88.04%) 100%
      );
}

.sun {
    position: absolute;
    border-radius: 50%;
    background-color: #FADA28;
    bottom: 125px;
    left: 82px;
    width: 140px;
    height: 140px;
  }
  .sun-ray {
    position: absolute;
    border-radius: 50%;
    background-color: #FADA28;
  }
  .r-one {
    bottom: 55px;
    left: 15px;
    width: 270px;
    height: 270px;
    opacity: 0.2;
    animation: ray2 5s infinite;
  }
  .r-two {
    bottom: 50px;
    left: 11px;
    width: 280px;
    height: 280px;
    opacity: 0.2;
    animation: ray3 7s infinite;
  }
  .r-three {
    bottom: 75px;
    left: 35px;
    width: 230px;
    height: 230px;
    opacity: 0.2;
    animation: ray4 4s infinite;
  }
  .r-four {
    bottom: 72px;
    left: 30px;
    width: 240px;
    height: 240px;
    opacity: 0.3;
    animation: ray5 6s infinite;
  }
@keyframes ray2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ray3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ray4 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ray5 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}