.cloudy-weather {
    background:
        linear-gradient(to bottom,
            hsl(200, 41.18%, 90%) 0%,
            hsl(200.18, 40.78%, 89.73%) 10.6%,
            hsl(200.65, 39.75%, 88.94%) 20%,
            hsl(201.33, 38.4%, 87.69%) 28.4%,
            hsl(202.1, 37.04%, 85.99%) 35.8%,
            hsl(202.87, 35.83%, 83.89%) 42.6%,
            hsl(203.58, 34.87%, 81.4%) 48.7%,
            hsl(204.18, 34.19%, 78.54%) 54.4%,
            hsl(204.65, 33.81%, 75.33%) 59.8%,
            hsl(204.98, 33.7%, 71.78%) 64.9%,
            hsl(205.14, 33.88%, 67.89%) 70.1%,
            hsl(205.1, 34.37%, 63.65%) 75.3%,
            hsl(204.84, 35.19%, 59.05%) 80.8%,
            hsl(204.26, 36.43%, 53.98%) 86.6%,
            hsl(203.2, 41.1%, 48.24%) 93%,
            hsl(201.12, 59.81%, 40.98%) 100%);
}

.sun-cloudy {
    display: inline;
    bottom: 250px;
    animation: sunCloudy 8s linear;
}

@keyframes sunCloudy {
    0% {
        transform: translateX(-250px);
    }

    100% {
        transform: translateX(0px);
    }

}